
.sidebar{
    grid-area: s;
    background-color: white;
    padding: 20px;
  }

  .link{
    color: chocolate;
    text-decoration:none;
  }
  
  .active {
    color: purple;
    text-decoration:none;
    font-weight:bold;
  }