.App-wrapper {
 margin: 0 auto;
 display: grid;
 width: 1200px;
 grid-template-areas: 
 "h h"
 "s c";

 grid-template-rows: 100px 1fr;
 grid-template-columns: 2fr 10fr;
}

.App-wrapper_dialogs {
    grid-area: c;
    background-color: rgb(255, 255, 255);
}